@import "base.css";
.xinwen{
    margin-top: -40px;
}
.sxian{
    width: 1200px;
    height: 8px;
    border-radius: 4px;
    margin: 0 auto;
    background: #4A76E6;
}
.sxian1{
    width:76%;
    height: 8px;
    border-radius: 4px;
    float: right;
    background: #E596B8;
}
.xin{
    width:1200px;
    height:auto;
    margin: 0 auto;
    background: #FCFCFC;
    padding-top: 57px;
    padding-bottom: 42px;
    margin-bottom: 87px;
    box-shadow: 0 0 3px 3px #e1d9d9;
}

.biao{
    width: 1200px;
    height: 18px;
    padding-left: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
}
.biaoleft{
    background: url("../../public/images/1.png") no-repeat center left;
    background-size:18px 18px;
}
.biaoright{

    background: url("../../public/images/2.png") no-repeat center left;
    background-size:18px 18px;
}
.biaoleft>a{
     margin-left: 24px;
     color:#A1A1A1;
 }
.biaoright>a{
    margin-left: 24px;
    color:#33588F;
}
.biaocenter{
   font-size: 18px;
    color:#A1A1A1;
    margin:0 9px;
}
.xin .left{
     width: 179px;
     height:44px;
     background:#33588F;
     margin-top: 72px;
 }
.xin .right{
    width: 179px;
    height:44px;
    background:#E797BA;
    margin-top:60px;
    float: right;
}
/*最新新闻开始*/
.xin .zuixin{
    width: 305px;
    height: 120px;
    background: yellow;
    margin:0 auto;
    background: url("../../public/images/3.png") no-repeat top center;
    background-size:44px 94px;
    margin-top: -60px;
    position: relative;
    margin-bottom: 106px;
}
.xin .zuileft{
    width: 74px;
    height: 3px;
    background: #33588F;
    position: absolute;
    top: 72px;
    left:0;
}
.xin .lefttop{
    width: 7px;
    height: 16px;
    background: #269DDA;
    position: absolute;
    top: 39px;
    left:73px;
}
.xin .lefttop .sanjiao{
    width: 0;
    height: 0;
    margin-top: -5px;
    border-bottom:5px solid #269DDA;
    border-right: 5px solid transparent;
}
.xin .righttop .sanjiao1{
    width: 0;
    height: 0;
    margin-top: -5px;
    margin-left: 2px;
    border-bottom:5px solid #269DDA;
    border-left: 5px solid transparent;
}

.xin .zuicenter{
    width: 165px;
    height: 43px;
    background: #33588F;
    position: absolute;
    top: 52px;
    left:73px;
    z-index: 2;
    font-size: 22px;
    color:#ffffff;
    text-align: center;
    line-height: 43px;
}
.xin .righttop{
    width: 7px;
    height: 16px;
    background: #269DDA;
    position: absolute;
    top: 39px;
    left:231px;
}
.xin .zuiright{
    width: 74px;
    height: 3px;
    background: #E797BA;
    position: absolute;
    top: 72px;
    right:0;
}
.xin .zuibottom{
    width: 165px;
    height:24px;
    position: absolute;
    top: 95px;
    left:73px;
    text-align: center;
    line-height: 24px;
    font-size: 22px;
}
.xin .zuibottom p{
    display: inline-block;
    color: #000000;
}
.xin .zuibottom p:nth-of-type(3),.xin .zuibottom p:nth-of-type(4){
    color:#33588F;
}
.xin .zuibottom span{
    color:#B5B5B5;
    margin:0 8px;
}
/*最新新闻结束*/
/*内容开始*/
.xinnei{
    width: 1200px;
    height: 372px;
    margin-bottom: 154px;
    padding-left: 80px;
    display: flex;
    justify-content: flex-start;
}
.neileft{
    width: 686px;
    height:372px ;
    padding-top: 80px;
}
.neititle{
     font-size: 24px;
     color:#000000;
     margin-bottom: 34px;
 }
.neicontent{
    font-size: 14px;
    color:#3E3E3E;
    line-height: 24px;
    margin-bottom: 50px;
}
.neibottom{
    width: 216px;
    height: 53px;
    background: #33588F;
    text-align: center;
    transform:skewX(-30deg);
}
.neibottom a{
    display: block;
    font-size:24px;
    color: #ffffff;
    line-height: 53px;
    transform:skewX(30deg);
}
.neiright{
    width: 286px;
    height:372px ;
}
.zuiwen{
    width: 1200px;
    height: 397px;
    padding-left: 80px;
    margin-bottom: 184px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}
.wenleft{
    width: 475px;
    height:397px;
    background: #269DDA;
    margin-right: 54px;
}
.wenleft img{
    width: 475px;
    height:397px;
}
.wenright{
    width: 456px;
    height:397px;
    margin-top:-40px;
}
.wenright li{
    width: 456px;
    height:152px;
    background: url("../../public/images/tu.png") no-repeat left bottom;
}
.wenright li .wentitle{
    font-size: 14px;
    color:#000000;
    padding-top: 45px;
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
}
.wenright li .wencontent{
    font-size: 12px;
    color:#3E3E3E ;
}
/*内容结束*/
/*全部开始*/
.quan{
    width: 1200px;
    height: auto;
}
.quanwen{
    width: 1200px;
    height: auto;
}
.quanwen li{
    width: 1200px;
    height: 124px;
    padding-left: 80px;
    display: flex;
    justify-content: flex-start;
}
.quanwen li .quanleft{
    width: 118px;
    height: 124px;
    border-right: 1px solid #000000;
    text-align: center;
    position: relative;
}
.quanwen li:last-of-type .quanleft{
    height:50px;
}
.quanwen li .quanleft span{
    display: block;
    font-size: 12px;
    color:#000000;
    margin-top: 28px;
}
.quanwen li .quanleft .yuan{
    width: 28px;
    height: 28px;
    background: #A9A9A9;
    border-radius: 50%;
    position: absolute;
    right:-14px;
    top:24px;
}
.quanwen li .quanleft .yuan1{
    width: 14px;
    height: 14px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    right:-7px;
    top:31px;
}
.quanwen li .quanright{
    width: 715px;
    height:124px ;
    padding-left: 40px;
}
.quanwen li .quanright .quantitle{
    font-size: 14px;
    color:#000000;
    margin-bottom: 10px;
}
.quanwen li .quanright .quancontent{
    font-size: 12px;
    color:#3E3E3E;
    display: flex;
    justify-content: space-between;
}
.quandi{
    width:855px;
    height: 58px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.diyuan{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background:#97AAC5;
}
.diyuan1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#33588F;
}
.shou{
    width: 114px;
    height: 40px;
    border-radius: 18px;
    border:3px solid #33588F;
    font-size: 20px;
    text-align: center;
    line-height: 34px;
}
.shu{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    line-height: 58px;
    color:#5B5B5B;
    font-weight: 900;
}
.shou.active{
    background:#33588F;
    border:3px solid #3B8AFF;
    position: relative;
}
.xian1{
    width: 3px;
    height: 8px;
    background: #ffffff;
    transform: rotate(-30deg);
    position: absolute;
    top:13px;
    left:74px;
}
.xian{
    width: 40px;
    height:3px;
    background: #ffffff;
    position: absolute;
    top:18px;
    left:37px;
}
.shu.active{
    border:2px solid #33588F;
    font-size: 24px;
    font-style:italic;
    color: #000000;
}
/*全部结束*/
/*时尚开始*/
.shis{
    width: 1200px;
    height: 219px;
    margin:0 auto;
    margin-bottom: 106px;
    background: peachpuff;
    display: flex;
    justify-content: space-between;
}
.shileft{
    width: 600px;
    height:219px;
    padding:48px 48px 0 34px;
    background: #33588F;
    border-right: 2px solid #952EC5;
    display: flex;
    justify-content: space-between;
}
.tuleft{
    width: 124px;
    height: 124px;
    background: url("../../public/images/timg.jpg") no-repeat 0 0;
}
.turight{
    width: 372px;
    margin-left: 22px
}
.shititle{
    font-size: 30px;
    color:#ffffff;
    margin-bottom: 12px;
}
.shititle span{
    margin-right:42px;
}
.shicontent{
    font-size: 14px;
    line-height: 20px;
    color:#ffffff;
    margin-bottom: 20px;
}
.tel{
    font-size: 14px;
    color:#ffffff;
 }
.shiright{
    width: 600px;
    height:219px;
    padding:48px 48px 0 34px;
    background: #FF85FF;
    font-size: 14px;
    color:#ffffff;
    line-height: 24px;
}
.dixian{
    width: 100%;
    height: 6px;
    background: #FF85FF;
    position: relative;
    margin-bottom: 88px;
}
.dixian1{
    width: 50%;
    height: 6px;
    background: #F29B76;
}
.xia{
    width: 100%;
    height:65px;
    background: url("../../public/images/6.png") no-repeat center center;
    position: absolute;
    top:-30px;
}
/*时尚结束*/