<script src="/sn/public/js/brands.js"></script>
<!-- 主体内容开始 -->
    <section class="main">
        <div class="top">
            <div class="top1">
                <div class="top2"></div>
            </div>
        </div>
        <section class="title">
            <div class="left"><a href="">首页</a></div>
            <div class="center">>></div>
            <div class="right"><a href="">新闻中心</a></div>
        </section>
        <section class="pinpai">
            <div class="pleft"></div>
            <div class="pcenter">
                <span class="title">品牌推荐</span>
                <span class="des">精梳工艺 • 良心品牌</span>
            </div>
            <div class="pright"></div>
        </section>
        <section class="new">
            <div class="nleft">
                <div class="ltop">
                    <div class="num">
                        <span class="number">01</span>
                        <div></div>
                    </div>
                    <div class="des">
                        <div class="des1"> </div>
                        <div class="des2"> </div>
                    </div>
                </div>
                <div class="lcenter">

                </div>
                <div class="lbottom">
                    <span> </span>
                    <span> </span>
                </div>
            </div>
                <!-- 左边结束 -->

            <div class="nright">
                <img src="images/new3.jpg" alt="">
                <p>小清新秋装刺绣纯棉百搭长袖上衣翻领衬衣，与众不同的你真的不一样</p>
            </div>
        </section>

        <section class="fashion">
            <div class="fleft">
                <img src="images/fa1.jpg" alt="">
            </div>
            <div class="fright">
                <span class="title">时尚女轻装</span>
                <p class="content">我们的产品是由国外顶尖设计师原创设计，采用高品质
                    面料工艺，是一种小众的消费品相比于前卫设计，更注
                    重品质第一。
                </p>
                <p class="content"> 有着完善的线上线下一体化的营销模式，消费去到任何
                    直营店，都可以在店里用手机或者电脑实现线上或者线
                    订货~</p>
                <div class="more"></div>
            </div>
        </section>

        <section class="jieshao">
            <div class="jleft">
                <img src="images/js1.jpg" alt="">
            </div>

            <div class="jright">
                <div class="jrtop">
                    <p>
                        精致的的缝纫工艺<br>
                        有着多年经验操作的老师傅一针一线精心缝制，<br>
                        比一般的缝制规格超出很多，针线不仅细腻美观<br>
                        更大大提高了上衣的坚韧和耐用性<br>
                        公司拥有20年针织服装出口的外贸人、优秀服装设计师、<br>
                        奢饰品销售精英和金融证券人共同创建<br>
                        并迅速集结了一群年轻、专业、热爱时尚行业的精英团队
                    </p>
                </div>
                <img src="images/js2.jpg" alt="">
            </div>
        </section>

        <!--  精品推荐   -->
        <div class="zuixin">
            <div class="zuileft"></div>
            <div class="lefttop">
                <div class="sanjiao"></div>
            </div>
            <div class="zuicenter">RECOMMEND</div>
            <div class="righttop"> <div class="sanjiao1"></div></div>
            <div class="zuiright"> </div>
            <div class="zuibottom">
                <p>精</p><span>/</span>
                <p>品</p><span>/</span>
                <p>推<span>/</span>荐</p>
            </div>
        </div>

        <!--  精品推荐详情 -->
        <section class="product">
            <ul>
                <li>
                    <span class="number">01</span>
                    <div class="xian"></div>
                    <span class="title">时尚衬衫</span>
                    <p class="content">
                        体育锻炼有利于人体骨骼、肌肉的生长，增强心肺
                        功能，改善血液循环系统、呼吸系统和消化系统的
                    </p>
                    <img src="images/jp1.jpg" alt="">
                </li>
                <li>
                    <span class="number">02</span>
                    <div class="xian"></div>
                    <span class="title">时尚衬衫</span>
                    <p class="content">
                        体育锻炼有利于人体骨骼、肌肉的生长，增强心肺
                        功能，改善血液循环系统、呼吸系统和消化系统的
                    </p>
                    <img src="images/jp1.jpg" alt="">
                </li>
                <li>
                    <span class="number">03</span>
                    <div class="xian"></div>
                    <span class="title">时尚衬衫</span>
                    <p class="content">
                        体育锻炼有利于人体骨骼、肌肉的生长，增强心肺
                        功能，改善血液循环系统、呼吸系统和消化系统的
                    </p>
                    <img src="images/jp1.jpg" alt="">
                </li>
                <li>
                    <span class="number">04</span>
                    <div class="xian"></div>
                    <span class="title">时尚衬衫</span>
                    <p class="content">
                        体育锻炼有利于人体骨骼、肌肉的生长，增强心肺
                        功能，改善血液循环系统、呼吸系统和消化系统的
                    </p>
                    <img src="images/jp1.jpg" alt="">
                </li>
                <li>
                    <span class="number">05</span>
                    <div class="xian"></div>
                    <span class="title">时尚衬衫</span>
                    <p class="content">
                        体育锻炼有利于人体骨骼、肌肉的生长，增强心肺
                        功能，改善血液循环系统、呼吸系统和消化系统的
                    </p>
                    <img src="images/jp1.jpg" alt="">
                </li>
                <li>
                    <span class="number">06</span>
                    <div class="xian"></div>
                    <span class="title">时尚衬衫</span>
                    <p class="content">
                        体育锻炼有利于人体骨骼、肌肉的生长，增强心肺
                        功能，改善血液循环系统、呼吸系统和消化系统的
                    </p>
                    <img src="images/jp1.jpg" alt="">
                </li>
            </ul>
        </section>
    </section>

<!-- 二维码 -->
    <section>
        <div class="shis">
            <div class="shileft">
                <div class="tuleft"></div>
                <div class="turight">
                    <p class="shititle"><span>时尚</span>    <span>高端 </span>   <span>大气</span></p>
                    <p class="shicontent" >高端大气上档次，低调奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚。高端大气上档次，低奢华有内涵,引领时尚风格。</p>
                    <p class="tel">电话：10010 60086</p>
                </div>
            </div>
            <div class="shiright">
                <p>高端大气上档次，低调奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚。高端大气上档次，低奢华有内涵,引领时尚风格。高端大气上档次，低调奢,高端大气上档次，低调奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚。高端大气上档次，低奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚</p>
            </div>
        </div>
        <div class="dixian">
            <div class="dixian1"></div>
            <div class="xia"></div>
        </div>
    </section>

</body>
</html>