<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../public/css/pinpaixiangqing.css">
</head>
<body>
<!--内容开始-->
<section class="xinwen">
    <div class="sxian">
        <div class="sxian1"></div>
    </div>
    <div class="xin">

        <div class="biao">
            <div class="biaoleft"><a href="">首页</a></div>
            <div class="biaocenter">>></div>
            <div class="biaoleft"><a href="">品牌推荐</a></div>
            <div class="biaocenter">>></div>
            <div class="biaoright"><a href="">品牌详情</a></div>
        </div>

        <!--最新新闻开始-->
        <div class="zixun">
            <div class="zleft"></div>
            <div class="zcenter">
                <p>品牌详情</p>
                <div class="zixian"></div>
                <p>BRAND</p>
            </div>
            <div class="zright"></div>
        </div>
        <div class="left"></div>
        <div class="center">
            <li>
                <span>2017-05-18</span>
            </li>
            <li>
                <span>3000人浏览</span>
            </li>
        </div>
        <div class="right"></div>
        <!--最新新闻结束-->
        <!--定制开始-->
        <div class="dingzhi">
            <div class="dingtop">
                <p>私人订制 服装制作流程</p>
            </div>
            <div class="dingbottom">
                <div class="dingxian"></div>
                <p>Manufacturing Process</p>
                <div class="dingxian"></div>
            </div>
        </div>
        <!--定制结束-->
        <!--全部开始-->
           <div class="dingtu">
               <div class="tutop">
                   <div class="dingleft">
                       <img src="../../public/images/t1.png" alt="">
                   </div>
                   <div class="dingright">
                       <li>
                           <p>精致的缝纫工艺</p>
                           <p>有着多年操作经验的老师傅一针一线精心缝制比一般的缝制规格超出很多，针线不仅细腻美观更大大提高了上衣的坚韧和耐用性。</p>
                       </li>
                       <li>
                           <p>3D立体裁剪</p>
                           <p>立体裁剪是一种模拟人体穿着状态的裁剪方法可以直接感知成衣的穿着形态、特征及松量等是公认的最简便、最直接的观察人体体型与服装构成关系的裁剪方法，是平面裁剪所无法比拟的。</p>
                       </li>
                   </div>
               </div>
               <div class="tucenter">
                   <li>
                       <img src="../../public/images/t2.jpg" alt="">
                   </li>
                   <li>
                       <img src="../../public/images/t3.jpg" alt="">
                   </li>
                   <li>
                       <img src="../../public/images/t4.jpg" alt="">
                   </li>
               </div>
               <div class="tubottom">
                   <p>每一季度定期推陈出新，前沿最流行时尚服装，每一款裁剪设计都唯美经典，打造魅力男人。统一健全一体化管理模式，导入SKU管理工具，通过市场分析，保证产品的正规性，维护客户及消费者的权益。</p>
                   <p>每季度的新款按最低配置，让经营者先试行卖，避免造成加盟商大量库存挤压。专业企划团队，为经营者设计店面；庞大售后团队，帮助经营者解决后顾之忧；常年免费培训，提升销售技巧。</p>
                   <p>Every quarter regularly bring forth the new, the forefront of the most popular fashion clothing, each cutting design is beautiful classic, to create a charming man. Unified and sound integrated management mode, import SKU management tools, through market analysis, to ensure product standardization, safeguard customer and consumer rights and interests.</p>
                   <p>Each quarter of the new configuration according to the minimum, so that operators try to sell first, to avoid a large number of franchisees squeeze inventory. Professional planning team, for operators to design stores; large after-sales team, to help managers solve worries; perennial free training, enhance sales skills
                   </p>
               </div>
           </div>
        <!--全部结束-->
        <!--推荐开始-->
        <nav>
        <div class="dian1"></div>
        <p class="jingying">经营理念</p>

        <ul class="three">
            <li>
                <img src="../../public/images/t5.jpg" alt="">
                <div class="box">篮球服男士休闲运动跑步运动套装</div>
            </li>
            <li>
                <img src="../../public/images/t6.jpg" alt="">
                <div class="box">篮球服男士休闲运动跑步运动套装</div>
            </li>
            <li class="last">
                <img src="../../public/images/t7.png" alt="">
                <div class="box">篮球服男士休闲运动跑步运动套装</div>
            </li>
        </ul>
    </nav>
        <!--推荐结束-->


    </div>

</section>
<!--内容结束-->
<!--时尚开始-->
<section>
    <div class="shis">
        <div class="shileft">
            <div class="tuleft"></div>
            <div class="turight">
                <p class="shititle"><span>时尚</span>    <span>高端 </span>   <span>大气</span></p>
                <p class="shicontent" >高端大气上档次，低调奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚。高端大气上档次，低奢华有内涵,引领时尚风格。</p>
                <p class="tel">电话：10010 60086</p>
            </div>
        </div>
        <div class="shiright">
            <p>高端大气上档次，低调奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚。高端大气上档次，低奢华有内涵,引领时尚风格。高端大气上档次，低调奢,高端大气上档次，低调奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚。高端大气上档次，低奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚</p>
        </div>
    </div>
    <div class="dixian">
        <div class="dixian1"></div>
        <div class="xia"></div>
    </div>
</section>

<!--时尚结束-->
</body>
</html>