<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../public/css/xinwenxiangqin.css">
</head>
<body>
<!--内容开始-->
<div class="box"></div>
<section class="xinwen">
    <div class="sxian">
        <div class="sxian1"></div>
    </div>
    <div class="xin">

        <div class="biao">
            <div class="biaoleft"><a href="">首页</a></div>
            <div class="biaocenter">>></div>
            <div class="biaoleft"><a href="">新闻中心</a></div>
            <div class="biaocenter">>></div>
            <div class="biaoright"><a href="">新闻详情</a></div>
        </div>

        <!--最新新闻开始-->
            <div class="zixun">
                <div class="zleft"></div>
                <div class="zcenter">
                    <p>新闻详情</p>
                    <div class="zixian"></div>
                    <p>JOURNALISM</p>
                </div>
                <div class="zright"></div>
            </div>
        <div class="left"></div>
        <div class="center">
            <li>
                <span>2017-05-18</span>
            </li>
            <li>
                <span>3000人浏览</span>
            </li>
        </div>
        <div class="right"></div>
        <!--最新新闻结束-->

        <!--内容结束-->
        <div class="xiangqing">
            <div class="xiang">
                <div class="fang"></div>
                <p> <span>新闻资讯</span><span>/</span><span>NEWS CENTER</span></p>
            </div>
            <li>
                <img src="../../public/images/z2.jpg" alt="">
                <p>中国品牌自己的节日，国务院同意设立“中国品牌日”</p>
                <p>品牌不仅是企业的立身之本，也是衡量一个国家经济实力的重要标志。打造民族品牌，塑造国家品牌形象，是任何一个国家都要高度重视的问题。随着中国企业走向国际化的步伐不断加快,在激烈的市场竞争中要想取得一席之地,站稳脚跟,就必须在国际上树立自己的民族品牌。要想民族品牌在激烈的竞争中走向世界，就必须在一下几个方面努力：一是政府加强在民族企业发展方面的立法，保护民族品牌。二是民族企业自身要重视品牌发展战略，鼓励创新、提高产品质量树立良好的品牌形象等。</p>
                <p>品牌联想 ,就是指消费者想到某一个品牌的时候联想到的所有内容。比如一提起麦当劳 ,消费者可能立即联想到汉堡、麦当劳叔叔、干净、小孩子的天堂等等,这些就是品牌联想。广告最主要的功能之一就是告知消费者 ,使消费者对品牌能立刻产生联想,而消费者所想到的特质 ,就是该品牌的独特卖点。广告就要利用这种独特的差异 ,在消费者心目中构建一片天地 ,并使其所宣传的品牌在其中位居第一。品牌联想的空间越大 ,消费者就越容易记住该品牌。</p>
                <p>The brand is not only the foundation of the enterprise, but also an important indicator to measure the economic strength of a country. Building a national brand and shaping the national brand image is a problem that any country should attach great importance to</p>
            </li>
            <li>
                <img src="../../public/images/z1.jpg" alt="">
                <p>致我们终将到来的时尚青春！</p>
                <p>在广告中塑造一种品牌文化 ,是树立品牌个性的有效途径之一。由于品牌文化是无形的 ,因此消费者很难从产品本身体会到这一内涵。而通过广告则可以将它所指向的某种生活方式或价值取向明示出来 ,所以是一种十分鲜明直接的途径。这样 ,可以让目标消费者通过认同广告中为他们设计的文化感受而迅速认同品牌。如在登喜路的广告中 ,出现的是景色如画的英国乡村和身价不凡的汽车 ,以此突出品牌故乡的风情 ;喝百事可乐 ,你就是“新一代”中的一员 ;万宝龙和派克等品牌则表现上辈 (祖辈或父辈 )如何使用这些精致的书写工具 ,谱写重要篇章 ,从而把流行与怀旧相结合。</p>
                <p>品牌联想 ,就是指消费者想到某一个品牌的时候联想到的所有内容。比如一提起麦当劳 ,消费者可能立即联想到汉堡、麦当劳叔叔、干净、小孩子的天堂等等,这些就是品牌联想。广告最主要的功能之一就是告知消费者 ,使消费者对品牌能立刻产生联想,而消费者所想到的特质 ,就是该品牌的独特卖点。广告就要利用这种独特的差异 ,在消费者心目中构建一片天地 ,并使其所宣传的品牌在其中位居第一。品牌联想的空间越大 ,消费者就越容易记住该品牌。</p>
                <p>Two, national enterprises should attach importance to brand development strategy, encourage innovation, improve product quality and establish a good brand image</p>
                <p>The brand is not only the foundation of the enterprise, but also an important indicator to measure the economic strength of a country. Building a national brand and shaping the national brand image is a problem that any country should attach great importance to</p>
            </li>
        </div>
        <!--全部开始-->
        <!--全部结束-->


    </div>

</section>
<!--内容结束-->
<!--时尚开始-->
<section>
    <div class="shis">
        <div class="shileft">
            <div class="tuleft"></div>
            <div class="turight">
                <p class="shititle"><span>时尚</span>    <span>高端 </span>   <span>大气</span></p>
                <p class="shicontent" >高端大气上档次，低调奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚。高端大气上档次，低奢华有内涵,引领时尚风格。</p>
                <p class="tel">电话：10010 60086</p>
            </div>
        </div>
        <div class="shiright">
            <p>高端大气上档次，低调奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚。高端大气上档次，低奢华有内涵,引领时尚风格。高端大气上档次，低调奢,高端大气上档次，低调奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚。高端大气上档次，低奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚</p>
        </div>
    </div>
    <div class="dixian">
        <div class="dixian1"></div>
        <div class="xia"></div>
    </div>
</section>

<!--时尚结束-->
</body>
</html>