<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻</title>
    <link rel="stylesheet" href="../../public/css/xinwen.css">
</head>
<body>
<!--内容开始-->
<section class="xinwen">
    <div class="sxian">
        <div class="sxian1"></div>
    </div>
    <div class="xin">

              <div class="biao">
                        <div class="biaoleft"><a href="">首页</a></div>
                         <div class="biaocenter">>></div>
                        <div class="biaoright"><a href="">新闻中心</a></div>
              </div>
              <div class="left"></div>
              <div class="right"></div>
        <!--最新新闻开始-->
              <div class="zuixin">
                  <div class="zuileft"></div>
                  <div class="lefttop">
                      <div class="sanjiao"></div>
                  </div>
                  <div class="zuicenter">JOURNALISM</div>
                  <div class="righttop"> <div class="sanjiao1"></div></div>
                  <div class="zuiright"> </div>
                  <div class="zuibottom"><p>最</p><span>/</span><p>新</p><span>/</span><p>新</p><span>/</span><p>闻</p></div>
              </div>
        <!--最新新闻结束-->
        <!--内容开始-->
             <div class="xinnei">
                 <div class="neileft">
                     <p class="neititle">企业服装设计有哪些事项</p>
                     <p class="neicontent"> 通过研究商业模式来定义品牌模式提供优秀的品牌整合解决方案，令品牌长远发展，更具竞争力新成立企业，需要有好的标志，好的品牌形象有助于提升企业整体竞争力，公司专注于新成立品牌规划，将为你的企业品牌进行整体的规划与设计，努力为您打造坚实品牌基础。</p>
                     <div class="neibottom"><a href="">立即查看</a></div>
                 </div>
                 <div class="neiright">
                     <img src="../../public/images/xin1.png" alt="">
                 </div>
             </div>
             <div class="zuiwen">
                 <div class="wenleft">
                     <img src="../../public/images/xin1%20(3).jpg" alt="">
                 </div>
                 <div class="wenright">
                     <li>
                         <p class="wentitle"><span>陈年：“新凡客”的关键是怎么慢下来</span>
                             <span>2017-05-18</span>
                         </p>
                         <p class="wencontent">随着全国房地产市场的不断升温，消费者购买力的增强，对生活品味在不断提高，家居市场可谓蕴涵着巨大的潜力。但事物总是有...</p>
                     </li>
                     <li>
                         <p class="wentitle"><span>陈年：“新凡客”的关键是怎么慢下来</span>
                             <span>2017-05-18</span>
                         </p>
                         <p class="wencontent">随着全国房地产市场的不断升温，消费者购买力的增强，对生活品味在不断提高，家居市场可谓蕴涵着巨大的潜力。但事物总是有...</p>
                     </li>
                     <li>
                         <p class="wentitle"><span>陈年：“新凡客”的关键是怎么慢下来</span>
                             <span>2017-05-18</span>
                         </p>
                         <p class="wencontent">随着全国房地产市场的不断升温，消费者购买力的增强，对生活品味在不断提高，家居市场可谓蕴涵着巨大的潜力。但事物总是有...</p>
                     </li>
                 </div>
             </div>
        <!--内容结束-->
        <!--全部开始-->
        <div class="quan">
            <div class="zuixin">
                <div class="zuileft"></div>
                <div class="lefttop">
                    <div class="sanjiao"></div>
                </div>
                <div class="zuicenter">JOURNALISM</div>
                <div class="righttop"><div class="sanjiao1"></div></div>
                <div class="zuiright"></div>
                <div class="zuibottom"><p>全</p><span>/</span><p>部</p><span>/</span><p>新</p><span>/</span><p>闻</p></div>
            </div>
            <div class="quanwen">
                <li>
                    <div class="quanleft">
                        <span>2017-5-18</span>
                        <div class="yuan"></div>
                        <div class="yuan1"></div>
                    </div>
                    <div class="quanright">
                        <p class="quantitle">中国品牌自己的节日，国务院同意设立“中国品牌日</p>
                        <p class="quancontent">要拥有我们自己的核心技术要拥有我们民族的世界品牌。要成为一流的企业关键是要培育一流的自主品牌。<span>-胡锦涛</span></p>
                    </div>
                </li>
                <li>
                    <div class="quanleft">
                        <span>2017-5-18</span>
                        <div class="yuan"></div>
                        <div class="yuan1"></div>
                    </div>
                    <div class="quanright">
                        <p class="quantitle">中国品牌自己的节日，国务院同意设立“中国品牌日</p>
                        <p class="quancontent">要拥有我们自己的核心技术要拥有我们民族的世界品牌。要成为一流的企业关键是要培育一流的自主品牌。<span>-胡锦涛</span></p>
                    </div>
                </li>
                <li>
                    <div class="quanleft">
                        <span>2017-5-18</span>
                        <div class="yuan"></div>
                        <div class="yuan1"></div>
                    </div>
                    <div class="quanright">
                        <p class="quantitle">中国品牌自己的节日，国务院同意设立“中国品牌日</p>
                        <p class="quancontent">要拥有我们自己的核心技术要拥有我们民族的世界品牌。要成为一流的企业关键是要培育一流的自主品牌。<span>-胡锦涛</span></p>
                    </div>
                </li>
                <li>
                <div class="quanleft">
                    <span>2017-5-18</span>
                    <div class="yuan"></div>
                    <div class="yuan1"></div>
                </div>
                <div class="quanright">
                    <p class="quantitle">中国品牌自己的节日，国务院同意设立“中国品牌日</p>
                    <p class="quancontent">要拥有我们自己的核心技术要拥有我们民族的世界品牌。要成为一流的企业关键是要培育一流的自主品牌。<span>-胡锦涛</span></p>
                </div>
            </li>
                <li>
                    <div class="quanleft">
                        <span>2017-5-18</span>
                        <div class="yuan"></div>
                        <div class="yuan1"></div>
                    </div>
                    <div class="quanright">
                        <p class="quantitle">中国品牌自己的节日，国务院同意设立“中国品牌日</p>
                        <p class="quancontent">要拥有我们自己的核心技术要拥有我们民族的世界品牌。要成为一流的企业关键是要培育一流的自主品牌。<span>-胡锦涛</span></p>
                    </div>
                </li>
            </div>
            <div class="quandi">
                 <div class="diyuan"></div>
                 <div class="diyuan1"></div>
                <div class="shou">首页</div>
                <div class="shu">1</div>
                <div class="shu">2</div>
                <div class="shu active">3</div>
                <div class="shu">4</div>
                <div class="shu">5</div>
                <div class="shu">6</div>
                <div class="shu">7</div>
                <div class="shu">8</div>
                <div class="shou active">
                    <div class="xian1"></div>
                    <div class="xian"></div>
                </div>
                <div class="diyuan1"></div>
                <div class="diyuan"></div>

            </div>

        </div>
        <!--全部结束-->


    </div>

</section>
<!--内容结束-->
<!--时尚开始-->
        <section>
            <div class="shis">
                <div class="shileft">
                    <div class="tuleft"></div>
                    <div class="turight">
                        <p class="shititle"><span>时尚</span>    <span>高端 </span>   <span>大气</span></p>
                        <p class="shicontent" >高端大气上档次，低调奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚。高端大气上档次，低奢华有内涵,引领时尚风格。</p>
                        <p class="tel">电话：10010 60086</p>
                    </div>
                </div>
                <div class="shiright">
                    <p>高端大气上档次，低调奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚。高端大气上档次，低奢华有内涵,引领时尚风格。高端大气上档次，低调奢,高端大气上档次，低调奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚。高端大气上档次，低奢华有内涵,引领时尚风格。高端大气上档次，低调奢有内涵,引领时尚</p>
                </div>
            </div>
            <div class="dixian">
                <div class="dixian1"></div>
                <div class="xia"></div>
            </div>
        </section>

<!--时尚结束-->
</body>
</html>